<p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <div>{{employee.firstname}} {{employee.lastname}}</div>
  <div>Age: {{employee.age}} Years</div>
  <div>Designation:{{employee.designation}}</div>
  <div>projectAssigned:{{employee.projectAssigned}}</div>
  <p-footer>
      <button pButton *ngIf="user.isAdmin | async" type="button" label="Edit" icon="pi pi-check" style="margin-right: .25em" (click)="editEmployee()"></button>
      <button pButton *ngIf="user.isAdmin | async" type="button" label="Delete" icon="pi pi-times" class="ui-button-secondary" (click)="deleteEmployee()"></button>
  </p-footer>
</p-card>
