
<app-menu></app-menu>
Search: <input id="input" type="text" size="30" pInputText [(ngModel)]="listFilterBy">
<button *ngIf="user.isAdmin | async" pButton type="button" label="Add New" style="margin-right: .25em" (click)="addProject()"></button>
<br/><br/>

  <div class="row">
    <div class="column">
  <div *ngFor='let project of filteredList' class="card">
      <div class="first-col">{{project.Projectname}}</div>
  <div class="second-col">{{project.EmployeesAssigned}}</div>
  <div class="third-col">{{project.EmployeesRequired}}</div>
  <div class="fourth-col">{{project.TotalEmployees}}</div>  
  <button pButton *ngIf="user.isAdmin | async" type="button" id="{{project.id}}" label="Edit" icon="pi pi-check" style="margin-right: .25em" (click)="editProject(project)"></button>
  <button pButton *ngIf="user.isAdmin | async" type="button" id="{{project.id}}" label="Delete" icon="pi pi-times" class="ui-button-secondary" (click)="deleteProject(project)"></button>
</div>

    </div>
  </div>

