<h1>Human Resources Manager</h1>
<div id="buttons">
  <a routerLink="/login"
     class="button">Login</a>|
  <a routerLink=""
     class="button"
     (click)="enableText()">About</a>|
</div>

<p *ngIf="(enable)">
  <i>
  This project aims to create a basic HR Management site using Angular 6. I've been<br> playing with a few elements like localStorage, routing, event and property binding. <br>It doesn't matter the grade that you get, it's most important what
  you learn.</i><br/><br/><br/><br/>Hector F.
</p>
<pre>
  <b>user:potter@magic.co,
  pass:123123</b>
</pre>